* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html body {
	height: 100%;
}

body {
	background-color: #F9F9F9;
	color: #031051;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	display: flex;
	flex-direction: column;
}

h1 img.logo {
	height: 186px;
	padding-top: 0.5em;
	padding-bottom: 0em;
}

a {
	text-decoration: none;
	color: #E8C547;
}

button {
	background-color: #E8C547;
	color: #FFFFFF;
	transition-duration: 0.6s;
	height: 3em;
	width: 8em;
	margin-bottom: 1em;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
	background-color: #d6b540;	
}

form {
	margin: 0 auto;
	text-align: left;
}

input, textarea {
	height: 2.5rem;
	border-radius: 5px;
	padding-left: 1em;
	display: block;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
	font-family: 'Quicksand', sans-serif;
}

input::placeholder {
	padding-left: 0.5rem;
	font-style: italic;
	color: #B2B5B9;
}

textarea::placeholder {
	padding-left: 0.2rem;
	padding-top: 0.5rem;

	font-style: italic;
	color: #B2B5B9;
}

ul.nav {
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	margin-top: 7.5em;
}

li {
  	float: right;
}

li a {
  	display: inline-block;
  	color: #E8C547;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	transition-duration: 0.6s;
}

a.logout {
	color: #E8C547;
}

li a:hover {
  cursor: pointer;
  color: #d6b540;
}

/* log in section */

.content {
	flex: 1 0 auto;
}

.login-section, .feature-section, .affiliate-section {
	text-align: center;
}

.login-section {
	color: #FFFFFF;
	background-image: url("../img/sicily.jpg");
	padding-top: 6em;
	padding-bottom: 10em;
}

.login-section h2 {
	font-size: 36px;
	padding-bottom: 1em;
}

.login-section p {
	font-size: 1.5em;
	padding-bottom: 1em;
}

.login-section button {
	margin: 1em;
}

p.demo {
	text-align: center;
	font-style: italic;
}

/* feature section */

img.city,
img.date,
img.bus,
img.diary {
	border-radius: 50%;
	margin-top: 2em;
	border: 1px solid #031051;
}

.feature-section p {
	font-size: 14px;
}

/* affiliate section */

.affiliate-section h1 {
	font-size: 1.5em;
	margin-top: 2em;
}

img.affiliates {
	width: 90%;
}

/* login/register */

#login-form, #register-form {
	margin: 0.5em;
}

#login-page, #register-page {
	margin-top: 1em;
	margin-bottom: 3em;
	text-align: center;
	background-color: #031051;
	color: #FFFFFF;
	border-radius: 5px;
	width: 55%;
}

#login-page h2 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#register-page h2 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#login-page p {
	margin-bottom: 0.5em;
	font-size: 14px;
}

#sign-up,
#sign-in {
	margin-bottom: 1em;
	display: block;
	width: 100%;
	margin-left: 0;
}

#errorTenChar,
#errorMatchPass {
	color: red;
}

.home h2 {
	font-size: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.logout {
	margin-top: 2em;
	text-align: right;
}

.tripDetails {
	margin-top: 1em;
	height: 100%;
}

.tripDetails h2 {
	/* display: inline-block; */
	font-size: 1.5em;
	margin-top: 1em;
}

.tripColumn {
	border-radius: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.tripPlanColumn,
.travelDiaryColumn {
	background-color: #F9F9F9;
	color: #FFF;
	border-radius: 5px;
	margin-top: 5em;
	margin-left: 0px;
	margin-right: 0px;
}

.tripItem,
.travelDiaryItem {
	background-color: #031051;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	margin-bottom: 1em;
	border: 1px solid #FFF;
	border-radius: 5px;
}

.destinationCity:hover,
.travelDiaryDateAndTime:hover {
	cursor: pointer;
	color: #E8C547;
}

p.destinationCity,
p.travelDiaryDateAndTime {
	font-size: 26px;
	text-transform: uppercase;
	transition-duration: 0.6s;
}

p.travelDate,
p.busCompany,
p.tripComments {
	font-size: 18px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p.travelDiaryContent {
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-style: italic;
}

button.updateTrip,
button.deleteTrip,
button.updateTravelDiary,
button.deleteTravelDiary {
	margin-top: 1.5em;
	margin-right: 1em;
	margin-bottom: 0px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #031051;
}

/* Style the buttons inside the tab */
.tab button {
  float: left;
  background-color: #031051;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 14px;
  margin-bottom: 0px;
  transition: 0.3s;
  font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #E8C547;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #E8C547;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* Trip Section */

.tripDetails {
	margin-top: 1em;
	height: 100%;
}

.tripDetails h2 {
	font-size: 1.5em;
	margin-top: .5em;
	margin-bottom: 1em;
}

.tripColumn,
.leftTravelDiaryColumn {
	display: block;
	border-radius: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.travelDiaryColumn {
	background-color: #F9F9F9;
	color: #FFF;
}

.tripColumn {
	margin-right: 1em;
	display: block;
}

.tripItem,
.travelDiaryItem {
	
	font-size: 1.2em;
	width: 100%;
}

form#addTripSection {
	border: 1px solid #031051;
	border-radius: 5px;
	padding-bottom: 1em;
}

form#addTripSection h3 {
	text-align: center;
	padding-top: 1.5em;
}

form#addTravelDiarySection {
	border: 1px solid #031051;
	border-radius: 5px;
	padding-bottom: 0px;
}

form#addTravelDiarySection h3 {
	text-align: center;
	padding-top: 1.5em;
}
form.updateTripSection,
form.updateTravelDiarySection {
	margin: 15px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 15px 15px;
	padding-bottom: 0px;
	background-color: #031051;
	color: #FFF;
	border-radius: 5px;
}

form.updateTripSection h2 {
	font-size: 16px;
	margin-bottom: 0px;
}

form.updateTripSection label {
	font-size: 16px;
}

.updateDestinationCity,
.updateTravelDate,
.updateBusCompany,
.updateComments {
	font-size: 16px;
	margin: 15px 0px;
}

button#updateTripInfo {
	margin-bottom: 15px;
}

#tripPlanSection {
	margin: 15px;
	padding: 15px 15px;
	background-color: #031051;
	color: #FFF;
	border-radius: 5px;
}

#tripPlanSection h3 {
	text-align: center;
}

#cancel-add-trip,
#addTripInfo {
	width: 49.5%;
	margin-bottom: 0px;
}

footer {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	padding-top: 3em;
	padding-bottom: 1em;
}
